* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins';
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    border-bottom: solid 1px gray;
    box-shadow: 0px 0px 1px 0px black;
    color: white;
    position: fixed;
    width: 100%;
    background: darkgreen;
    color: white;

    z-index: 999;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    padding: 5px 15px;
    color: white;
}

.nav-btn {
    padding: 8px 20px;
    cursor: pointer;
}

.nav-btn a {
    text-decoration: none;
    color: white;
}

.login {
    background: transparent;
    border: solid 1px white;
    border-radius: 20px;
}

.signup {
    background-color: white;
    border: solid 1px white;
    border-radius: 20px;
}

.signup a {
    color: black;
}



/* HERO SECTION */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.hero-section h1 {
    font-size: 3em;
    text-align: center;
}

.hero-section p {
    font-size: 1.4em;
    text-align: center;
}

.hero-section div {
    text-align: center;
}

.hero-section input[type="email"]{
    width: 350px;
    outline: none;

}
.hero-section input[type="email"], button{
    padding: 11px 5px;
}


.hero-section button {
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    border: solid 2px darkgreen;
    cursor: pointer;
}


/* KEY FEATURES */
section.key-features-section {
    background-color: #eee;
    padding-bottom: 50px;
    
}

.feature img {
    width: 100px;
}

section.key-features-section, .how-it-works {
    text-align: center;
    padding: 20px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.key-features-section h2, .how-it-works h2 {
    text-align: center;
    padding-bottom: 50px;
}
.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}

.how-it-works-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.circle {
    background-color: darkgreen;
    color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}
      


#ready {
    background: darkgreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    text-align: center;
}

.ready-container h2 {
    margin: 5px;
    font-size: 2em;
}

.ready-container p {
    margin: 10px;
}

.ready-container input[type="email"]{
    width: 350px;
    margin: 5px 0;
    border-radius: 5px;
    border: solid 1px white;
}
.ready-container input[type="email"], button{
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    border: solid 1px white;
}


/* PRICING PAGE */
.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px 0;
}

.duration {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    border-radius: 10px;

}

.pricing {
    width: 300px;
    border: solid 1px #eee;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.pricing:hover {
    outline: solid 2px darkgreen;
    transform: scale(1.1);
    transition: 0.3s ease;
}

.first-element {
    padding-bottom: 100px;
    text-align: center;
}

.first-element h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.tier-sub {
    font-size: 0.8em;
}

.price {
    font-size: 2em;
}

.pricing-btn {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    width: 90%;
    cursor: pointer;
}

.pricing * {
    margin: 10px;
}

.pricing ul {
    list-style: none;
}

.pricing ul li:before {
    content: '✔';
    margin: 0 5px;
}


/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 0.8rem;
}

footer ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}


@media screen and (max-width: 700px){

}



.humburger {
    display: none;
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 5px 0;
    }

    nav {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: darkgreen;
        transition: 0.2s;
        overflow: hidden;
    }

    nav.active {
        height: 450px;
    }

    nav ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    nav ul li a {
        margin-bottom: 12px;
        color: red;
    }

    .hero-content {
        display: flex;
        flex-wrap: wrap;
    }

    .features {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 90%;
 
    }

    /* section.how-it-works {
        margin-bottom: 80px;
    } */

 
}